<% if @page %>
  <% content_for :content_top do %>
      <%= @page.rendered_content %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= form_with method: :get, url: events_path, class: "usa-form margin-x-auto margin-bottom-1" do |form| %>
    <% if @from %>
      <%= form.hidden_field(nil, name: "from", value: @from) %>
    <% end %>

    <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
      <% @event_filters.each do |filter| %>
        <input
          id="<%= filter.name %>-accordion-input"
          type="hidden"
          name="accordion[<%= filter.name %>]"
        >
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button"
            aria-expanded="<%= @selected_filters[filter.name].length > 0 || @open_accordions[filter.name] %>"
            aria-controls="<%= filter.name %>-accordion-content"
            data-accordion-state-input="<%= filter.name %>-accordion-input"
          >
            <%= filter.name.titleize.capitalize %>
          </button>
        </h4>
        <div id="<%= filter.name %>-accordion-content" class="usa-accordion__content">
          <% filter.options.each do |option| %>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="filter-<%= filter.name %>-<%= option.value.parameterize %>"
                type="checkbox"
                name="<%= filter.name %>[]"
                value="<%= option.value %>"
                data-submit-form-on-click
                <%= "checked" if @selected_filters[filter.name].include?(option) %>
              />
              <label class="usa-checkbox__label" for="filter-<%= filter.name %>-<%= option.value.parameterize %>">
                <%= option.label %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if !@events.empty? %>
  <ul class="usa-collection oite-events">
    <% @events.each do |event| %>
      <li class="usa-collection__item oite-event">
        <div class="usa-collection__calendar-date">
          <time datetime="<%= event.date %>">
            <span class="usa-collection__calendar-date-month"><%= event.date.strftime("%b").upcase %></span>
            <span class="usa-collection__calendar-date-day"><%= event.date.strftime("%d") %></span>
          </time>
        </div>
        <div class="usa-collection__body">
          <div class="usa-collection__heading">
            <h3 class="margin-0">
              <%= link_to event.title, event_path(event), class: "usa-link" %>
            </h3>
            <div class="oite-event__time text-italic">
              <time datetime="<%= event.start.strftime("%F %R") %>"><%= event.start.strftime("%A, %B %-d, %Y %l:%M %p") %></time>
              –
              <time datetime="<%= event.end.strftime("%F %R") %>"><%= event.end.strftime("%l:%M %p") %></time>
            </div>
          </div>
          <div class="usa-collection__description">
            <% unless event.speaker_names.empty? %>
              <div class="oite-event__speakers margin-y-1">
                <h4 class="margin-0">Speakers</h4>
                <ul class="usa-list">
                  <% event.speaker_names.each do |speaker| %>
                  <li>
                    <%= speaker%>
                  </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="usa-prose p-summary">
              <%= event.rendered_content%>
            </div>
            <div class="oite-event__tags">
              <% event.audience.each do |audience| %>
                <%= link_to audience, events_path(audience: [audience]), class: "usa-button usa-button--accent-cool text-uppercase font-ui-3xs margin-y-05" %>
              <% end %>
              <% event.topic.each do |topic| %>
                <%= link_to topic, events_path(topic: [topic]), class: "usa-button usa-button--accent-cool text-uppercase font-ui-3xs margin-y-05" %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <% if @not_found %>
    <%= @not_found.rendered_content %>
  <% end %>
<% end %>
